<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon" [style]="'--background-color: '+customerDetail.color+';'">
              <i class="material-icons">dashboard</i>
            </div>
            <h4 class="card-title">HOME</h4>
          </div>
          <div class="card-body ">
            <div class="table-responsive center-content">
              
              <mat-horizontal-stepper labelPosition="bottom" #stepper>
                <mat-step>
                  <app-formulario1></app-formulario1>
                  <div>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </mat-step>
                <mat-step>
                  <app-formulario2></app-formulario2>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </mat-step>
                <mat-step>
                  <app-formulario3></app-formulario3>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </mat-step>
                <mat-step>
                  <app-formulario4></app-formulario4>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </mat-step>
                <mat-step>
                  <app-formulario5></app-formulario5>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </mat-step>
                <mat-step>
                  <app-formulario6></app-formulario6>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </mat-step>
                <mat-step>
                  <app-formulario7></app-formulario7>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </mat-step>
                <mat-step>
                  <app-formulario8></app-formulario8>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </mat-step>
                <mat-step>
                  <app-formulario9></app-formulario9>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </mat-step>
                <mat-step>
                  <app-formulario10></app-formulario10>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </mat-step>
                <mat-step>
                  <app-formulario11></app-formulario11>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </mat-step>
                <mat-step>
                  <app-formulario12></app-formulario12>
                  <div>
                    <button mat-button matStepperNext>Next</button>
                    <button mat-button matStepperPrevious>Back</button>
                  </div>
                </mat-step>
              </mat-horizontal-stepper>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- h as-->