.form {
    width: 100%;
}

.mat-form-field-infix.ng-tns-c39-59 {
    display: flex;
}

hr {
    border-color: #02416B;
}

.ajut-signature p {
    font-size: 10px;
}

.mat-option:hover {
    background: #02416B !important;
}

.card-header-rose {
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header-rose img {
    width: 300px;
}