<div class="card ">
    <div class="card-header card-header-rose card-header-icon">
        <img src="./../../../assets/img/2 (1).png">
    </div>
    <div class="card-body mb-2">
        <h2 class="card-title text-center " *ngIf="usersDataForm.length != 0 ">{{usersDataForm.typeName}}</h2>
        <hr style="width:100%;">
        <form class="form" [formGroup]="form" (ngSubmit)="saveData(form.value)">
            <div class="row">
                <div class="col-12" *ngIf="usersDataForm.length != 0 " [innerHtml]="usersDataForm.typeDescription">
                </div>
                <div class="col-6">
                    <!--Nombre Abreviado-->
                    <mat-form-field floatLabel="never">
                        <input matInput disabled style="font-size: 18px;" class="text-center" formControlName="clientName">
                        <mat-hint class="text-center">Client Print Name</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <!--Nombre Abreviado-->
                    <mat-form-field floatLabel="never">
                        <input matInput required style="font-size: 18px;" class="text-center" formControlName="directorName">
                        <mat-hint class="text-center">Director Print Name</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-6 ajut-signature" *ngIf="menuItemsStore.length == 0">
                    <!--Nombre Abreviado-->
                    <app-signature-clients (signatureClients)="signatureClients($event)"></app-signature-clients>
                </div>

                <div class="col-6 ajut-signature" *ngIf="menuItemsStore.length != 0">
                    <!--Nombre Abreviado-->
                    <img *ngIf="menuItemsStore.clientSignature" [src]="menuItemsStore.clientSignature" alt="softsaenz" class="ajust-end">
                    <p>Client Signature</p>
                </div>
                <div class="col-6 ajut-signature" *ngIf="menuItemsStore.length != 0 && !menuItemsStore.directorSignature">
                    <!--Nombre Abreviado-->
                    <app-signature-director *ngIf="usersData.user.rolAppId == 1" (signatureDirector)="signatureDirector($event)"></app-signature-director>
                    <p *ngIf="usersData.user.rolAppId == 2">Only for administrator</p>

                </div>
                <div class="col-6 ajut-signature" *ngIf="menuItemsStore.length != 0 && menuItemsStore.directorSignature">
                    <!--Nombre Abreviado-->
                    <img *ngIf="menuItemsStore.directorSignature" [src]="menuItemsStore.directorSignature" alt="softsaenz" class="ajust-end">
                    <p *ngIf="usersData.user.rolAppId == 2">Only for administrator</p>
                    <p>Director Signature</p>
                </div>
                <div class="col-6">
                    <!--Nombre Abreviado-->
                    <mat-form-field color="accent" floatLabel="never">
                        <mat-label>Todays Date</mat-label>
                        <input matInput [matDatepicker]="picker1" formControlName="dateTodaysClient">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <!--Nombre Abreviado-->
                    <mat-form-field color="accent" floatLabel="never">
                        <mat-label>Todays Date</mat-label>
                        <input matInput [matDatepicker]="picker2" formControlName="dateTodaysDirector">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-12 card-footer ">
                    <!--BOTON-->
                    <button mat-raised-button type="submit" class="btn btn-fill btn-rose" [style]="'background-color: '+customerDetail.color+' !important;'" [disabled]="form.invalid" *ngIf="disabled">Send Form</button>
                </div>
            </div>

        </form>
    </div>
</div>