<div class="card ">
    <div class="card-header card-header-rose card-header-icon">
      <img src="./../../../assets/img/2 (1).png">
    </div>
    <div class="card-body mb-2" >
      <h2 class="card-title text-center ">Hazardous Items Search Consent</h2>
      <hr style="width:100%;">
      <form class="form" [formGroup]="form" (ngSubmit)="saveData(form.value)">
        <div class="row">
          <div class="col-12">
            <p style="font-size: 19px; text-align: justify;">Upon acceptance into Time For Change Recovery House all resident’s property will be 
                searched by a Time For Change Recovery House staff member. Prior to searching staff 
                will ask resident if there is anything in the resident’s belongings that may harm the staff 
                member while searching. Any items found that may be deemed harmful to staff or 
                residents will not be permitted on Time For Change Recovery House property. Any drugs 
                or paraphanelia found will be confiscated and disposed of according to local code and 
                ordance of Broward County/State of Florida. Weapons of any sort will not be allowed on 
                property by any resident. This includes but is not limited to guns, knives, swords, or 
                explosives and will be turned over to local law enforcement (this includes individuals who 
                have permits to carry weapons from the state of Florida.) Time For Change Recovery 
                House will adhere to the standards set forth by the state probation office or prison system 
                to protect residents while living at Time For Change Recovery House. I also understand 
                that at anytime during my stay, my personal belongings may be searched and if any item is 
                found after my initial search upon arrival of the program, I may be terminated from the 
                Time For Change Recovery House Program.
            </p>
          </div>
          <div class="col-6"> <!--Nombre Abreviado-->
            <mat-form-field floatLabel="never">
              <input matInput required style="font-size: 18px;" class="text-center" formControlName="acept1">
              <signature-pad (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad><br>
              <mat-hint class="text-center">Client Print Name</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-6"> <!--Nombre Abreviado-->
            <mat-form-field floatLabel="never">
              <input matInput required style="font-size: 18px;" class="text-center" formControlName="acept2">
              <signature-pad (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad><br>
              <mat-hint class="text-center">Director Print Name</mat-hint>
            </mat-form-field>
          </div>
          
  
          <div class="col-12 card-footer "> <!--BOTON-->
            <button mat-raised-button type="submit" class="btn btn-fill btn-rose" style="background-color: #02416B"
              [disabled]="form.invalid">Send Form</button>
          </div>
        </div>
      </form>
    </div>
  </div>

