.form {
    width: 100%;
}

hr {
    border-color: #02416B;
    width: 100%;
}

.card-header-rose {
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-header.text-center h4 {
    font-size: 19px !important;
}

.row.align-items-center p {
    font-size: 19px !important;
}

.card-header-rose img {
    width: 300px;
}

.align-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
}