<div class="card ">
  <div class="card-header card-header-rose card-header-icon">
    <img src="./../../../assets/img/2 (1).png">
  </div>
  <div class="card-body mb-2">
    <h2 class="card-title text-center ">RECOVERY AGREEMENT/PLAN</h2>
    <div class="col-12 custom-center">
      <h4 class="font-header text-center" style="font-size: 19px;">
        By initialing each requirement, you agree to abide and follow the rules and guidelines setforth in the
        <br> agreement to reside in the Time For Change Recovery House 4 Phase Program.
      </h4>
      <hr style="width:100%;">
    </div>
      
    <form class="form" [formGroup]="form" (ngSubmit)="saveData(form.value)">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-md-2">
              <!-- mat-form-field en la primera columna -->
              <mat-form-field floatLabel="never" style="width: 150px; height: 52;">
                <input matInput required style="font-size: 18px;" class="text-center" formControlName="acept1">
              </mat-form-field>
            </div>
            <div class="mt-3 col-md-10 d-flex align-items-end">
              <p style="font-size: 19px;"> will go to 12 step meetings. I will get a sponsor. I will get a home group. I
                will work all 12 steps. I will get phone numbers from other recovering persons in recovery and build a
                support</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-md-2">
              <!-- mat-form-field en la primera columna -->
              <mat-form-field floatLabel="never" style="width: 150px; height: 52;">
                <input matInput required style="font-size: 18px;" class="text-center" formControlName="acept2">
              </mat-form-field>
            </div>
            <div class="mt-3 col-md-10 d-flex align-items-end">
              <p style="font-size: 19px;">I will remain abstinent from all mood- and mind-altering substances and am
                willing to take a
                drug test at any time</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-md-2">
              <!-- mat-form-field en la primera columna -->
              <mat-form-field floatLabel="never" style="width: 150px; height: 52;">
                <input matInput required style="font-size: 18px;" class="text-center" formControlName="acept3">
              </mat-form-field>
            </div>
            <div class="mb-2 col-md-10 d-flex align-items-end">
              <p style="font-size: 19px;">I will abide by my curfew. </p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-md-2">
              <!-- mat-form-field en la primera columna -->
              <mat-form-field floatLabel="never" style="width: 150px; height: 52;">
                <input matInput required style="font-size: 18px;" class="text-center" formControlName="acept4">
              </mat-form-field>
            </div>
            <div class="mb-2 col-md-10 d-flex align-items-end">
              <p style="font-size: 19px;">I will get a Job that is conducive to recovery</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-md-2">
              <!-- mat-form-field en la primera columna -->
              <mat-form-field floatLabel="never" style="width: 150px; height: 52;">
                <input matInput required style="font-size: 18px;" class="text-center" formControlName="acept5">
              </mat-form-field>
            </div>
            <div class="mb-2 col-md-10 d-flex align-items-end">
              <p style="font-size: 19px;">I will not contact any old people who are negative towards my recovery or are
                using</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-md-2">
              <!-- mat-form-field en la primera columna -->
              <mat-form-field floatLabel="never" style="width: 150px; height: 52;">
                <input matInput required style="font-size: 18px;" class="text-center" formControlName="acept6">
              </mat-form-field>
            </div>
            <div class="mb-2 col-md-10 d-flex align-items-end">
              <p style="font-size: 19px;">I will not contact any old people who are negative towards my recovery or are
                using</p>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="row">
            <div class="col-md-2">
              <!-- mat-form-field en la primera columna -->
              <mat-form-field floatLabel="never" style="width: 150px; height: 52;">
                <input matInput required style="font-size: 18px;" class="text-center" formControlName="acept7">
              </mat-form-field>
            </div>
            <div class="mb-2 col-md-10 d-flex align-items-end">
              <p style="font-size: 19px;">I will complete an aftercare program and all that they require from me, if
                applicable</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-md-2">
              <!-- mat-form-field en la primera columna -->
              <mat-form-field floatLabel="never" style="width: 150px; height: 52;">
                <input matInput required style="font-size: 18px;" class="text-center" formControlName="acept8">
              </mat-form-field>
            </div>
            <div class="mb-2 col-md-10 d-flex align-items-end">
              <p style="font-size: 19px;">I will participate in any alumni and/or recovery supportive events when
                possible.</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-md-2">
              <!-- mat-form-field en la primera columna -->
              <mat-form-field floatLabel="never" style="width: 150px; height: 52;">
                <input matInput required style="font-size: 18px;" class="text-center" formControlName="acept9">
              </mat-form-field>
            </div>
            <div class="mb-2 col-md-10 d-flex align-items-end">
              <p style="font-size: 19px;">If I am struggling, I will reach out to my support group and share in a
                meeting</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-md-2">
              <!-- mat-form-field en la primera columna -->
              <mat-form-field floatLabel="never" style="width: 150px; height: 52;">
                <input matInput required style="font-size: 18px;" class="text-center" formControlName="acept10">
              </mat-form-field>
            </div>
            <div class="mb-2 col-md-10 d-flex align-items-end">
              <p style="font-size: 19px;">I will commit to a minimum of 120 days at Time For Change Recovery House.</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-md-2">
              <!-- mat-form-field en la primera columna -->
              <mat-form-field floatLabel="never" style="width: 150px; height: 52;">
                <input matInput required style="font-size: 18px;" class="text-center" formControlName="acept10">
              </mat-form-field>
            </div>
            <div class="mt-3 col-md-10 d-flex align-items-end">
              <p style="font-size: 19px;">I will not move out of Time For Change Recovery House without a recovery
                supportive plan that I
                have discussed with my support group</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-md-2">
              <!-- mat-form-field en la primera columna -->
              <mat-form-field floatLabel="never" style="width: 150px; height: 52;">
                <input matInput required style="font-size: 18px;" class="text-center" formControlName="acept11">
              </mat-form-field>
            </div>
            <div class="mt-3 col-md-10 d-flex align-items-end">
              <p style="font-size: 19px;">I will attend all necessary outside appointments that are conducive to my
                recovery and assist me with
                becoming a healthy productive member of society. </p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-md-2">
              <!-- mat-form-field en la primera columna -->
              <mat-form-field floatLabel="never" style="width: 150px; height: 52;">
                <input matInput required style="font-size: 18px;" class="text-center" formControlName="acept12">
              </mat-form-field>
            </div>
            <div class="mt-3 col-md-10 d-flex align-items-end">
              <p style="font-size: 19px;">If applicable I will take my medication as prescribed and assist further care
                from the appropriate. </p>
            </div>
          </div>
        </div>
        <div class="col-12 card-footer "> <!--BOTON-->
          <button mat-raised-button type="submit" class="btn btn-fill btn-rose" style="background-color: #02416B"
            [disabled]="form.invalid">Send Form</button>
        </div>
      </div>
    </form>
  </div>
</div>