.form {
    width: 100%;
}

hr {
    border-color: #02416B;
}

mat-list-item {
    margin-bottom: 20px;
}

.mat-option:hover {
    background: #02416B !important;
}

.card-header-rose {
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header-rose img {
    width: 300px;
}